*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #FCD111;
}

header{
    color: #416CB1;
    margin-top: 1.5rem;
    margin-left: 2.3rem;
}

main{
    color: #135728;
    margin-top: 1.5rem;
    margin-left: 2.3rem;
}